run = "npm start"
entrypoint = "README.md"



























































































































































































































































































































































hidden = [".config", "package-lock.json", "package.json","includes","main.js","logger","zach","languages","FastConfigFca.json","index.js","update.js", "README.md", "config.json.temp","ChatBot"]
